export("%dorng%")
export(doRNGversion)
export(registerDoRNG)
import(foreach)
import(pkgmaker)
import(rngtools)
import(stats)
importFrom(iterators,iter)
importFrom(utils,compareVersion)
importFrom(utils,packageVersion)
