export(doRNGversion)
export("%dorng%")
export(registerDoRNG)
import(stats)
import(pkgmaker)
import(rngtools)
import(foreach)
importFrom(utils,packageVersion)
importFrom(utils,compareVersion)
importFrom(iterators,iter)
